关于部分汉化包部分内置的Mod的说明.txt
安装教程.url
更多模组、汉化、整合包资源.url
说明.txt
想多人联机游玩？点我点我.txt
.DS_Store
vaultpatcher_zh_tw
resourcepacks_zh_tw
G8_WorkSpace/NoZhTW
G8_WorkSpace/NoZhTW_zh_tw
G8_WorkSpace/assets

# 忽略 versions 資料夾底下的所有子目錄與檔案
release/*/*

# 例外保留各版本目錄下的 release.zip
!release/*/*.zip